* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7efec;
}

.airport {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  margin-top: 50px;
  width: 100vw;
  height: 250px;
  background-color: #134253;

    &__copyright {
      padding: 30px;
      border-top: 1px solid #FFFFFF;
      background-color: #134253;
      color: #FFFFFF;
      text-align: right;
    }
}

.footer a {
  color: #FFFFFF;
  &:visited {
    color: #FFFFFF;
  }
}

.footer li {
  margin: 10px;
}

.footer-info {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;

  &__column {
    list-style: none;
  }
}

.news-page {
  margin-top: 140px;
  width: 100vw;
  height: 100vh;
  &__title {
    font-size: 70px;
    font-weight: lighter;
    font-family: sans-serif;
    padding: 0;
    margin: auto;
    margin-bottom: 40px;
    text-align: left;
    width: 740px;
  }
}

.contacts-page {
  margin-top: 140px;
  width: 100vw;
  height: 100vh;
  &__title {
    font-size: 70px;
    font-weight: lighter;
    font-family: sans-serif;
    padding: 0;
    margin: auto;
    margin-bottom: 40px;
    text-align: left;
    width: 740px;
  }
}
.header-wrapper {
  position: fixed;
  width: 100vw;
  height: 92px;
  background-color: #1eb7ee;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(37,40,41,.3);


  &__logo-container {
    display: flex;
    height: 100%;
    align-items: center;
    color: #FFFFFF;
    margin: 10px;
    margin-left: 50px;
    text-decoration: none;

    cursor: pointer;
  }

  &__logo {
    height: 50px;
    margin-right: 10px;
  }
}

.header-navigation {
  width: 30%;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;

  &__item {
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loader {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -60px;
  margin-top: -60px;
  z-index: 90;
}

.flights-search {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 140px;

  &__title {
    font-size: 70px;
    font-weight: lighter;
    font-family: sans-serif;
    padding: 0;
    margin: auto;
    margin-bottom: 40px;
    text-align: left;
    width: 740px;
  }
}

.search-bar {
  display: block;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  width: 55vw;

  &__input {
    padding: 15px;
    margin: 0;
    height: 80px;
    width: 55vw;
    border: none;
    border-radius: 0 80px 0 0;
    font-size: 16px;
  }

  &__btn {
    top: 0;
    right: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 80px;
    width: 200px;
    background-color: #1eb7ee;
    font-weight: 700;
    font-size: 26px;
    border: none;
    border-radius: 0 80px 0 0;
    color: #fff;
    text-align: left;
    padding: 0 20px;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 80px;

    &:hover {
      border-radius: 0 40px 0 0;
    }
  }
}

.flights-screen {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.flights-nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 75vw;
  margin: auto;

  &__btn-img {
    width: 30px;
    color: blue;
  }

  &__btn {
    height: 60px;
    flex: 1 1 auto;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    border-radius: 60px 60px 0 0;
    background: #73d2f0;
    color: #ffffff;
    font-size: 24px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #1eb7ee;
    }

    &_selected {
      background-color: #ffffff;
      color: #73d2f0;
      width: 400px;
      box-shadow: 0 0px 10px rgba(37, 40, 41, 0.3);
      z-index: 2;

      &:first-of-type {
        margin-right: -100px;
      }
      &:last-of-type {
        margin-left: -100px;
      }
      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

th {
  font-weight: 100;
}

.flights-table {
  text-align: center;
  border: none;
  border-collapse: collapse;

  &__no-flights {
    font-size: 24px;
    color: grey;
    font-weight: 100;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  &__terminal {
    font-weight: 700;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;

    &_red {
      color: rgb(218, 75, 75);
      border-color: rgb(218, 75, 75);
    }

    &_blue {
      color: #1eb7ee;
      border-color: #1eb7ee;
    }
    &_green {
      color: #63c745;
      border-color: #63c745;
    }
    &_purple {
      color: purple;
      border-color: purple;
    }
  }

  &__flight-item {
    height: 72px;
    background-color: white;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &__flight-item:nth-of-type(odd) {
    background-color: rgba(0,102,135,.1);  }

  &__item-airline-cell {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__airline-logo {
    height: 35px;
    margin-right: 5px;
  }
  &__head {
    height: 72px;
    color: grey;
  }
}
